<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.hms"/>
    <bean id="wheelService" class="org.hms.service.impl.WheelServiceImpl">
        <property name="daoWheel" ref="daoWheel" />
    </bean>
    <bean id="daoWheel" class="org.hms.orm.dao.impl.ImpDaoWheel"/>
</beans>